<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devbook-Login</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <script defer src="/assets/js/auth/auth.Handler.js"></script>
    <script defer src="/assets/js/services/api.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <form class="form">
                <div class="form-group w-50 m-auto py-1">
                    <label for="">Usuario</label>
                    <input class="input-control" id="auth-username" />
                </div>
                <div class="form-group w-50 m-auto py-1">
                    <label for="">Password</label>
                    <input class="input-control" id="auth-password" type="password" />
                </div>
                <div class="form-group w-50 m-auto gap-2">
                    <button id="login-btn" class="btn-primary fs-2" type="button">Login</button>
                    <a class="text-center" href="/register">Create a new count</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>