<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devbook-register</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <script defer src="/assets/js/auth/auth.Handler.js"></script>
    <script defer src="/assets/js/services/api.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <form class="row">
                <div class="w-80 m-auto d-flex">
                    <div class="form-group w-40 m-auto py-1">
                        <label for="">Full name</label>
                        <input class="input-control" id="name" />
                    </div>
                    <div class="form-group w-40 m-auto py-1">
                        <label for="">E-mail</label>
                        <input class="input-control" id="email" type="text" />
                    </div>
                </div>
                <div class="w-80 m-auto d-flex">
                    <div class="form-group w-40 m-auto py-1">
                        <label for="">Username</label>
                        <input class="input-control" id="username" />
                    </div>
                    <div class="form-group w-40 m-auto py-1">
                        <label for="">Password</label>
                        <input class="input-control" id="password" type="password" />
                    </div>
                </div>
                <div class="form-group w-50 m-auto gap-2">
                    <button id="register-btn" class="btn-primary fs-2" type="button">Create account</button>
                    <a class="text-center" href="/login">Already have account? make a login</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>